body {
    font-size: 16px;
}
/*header*/
header{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(196, 245, 253);
}

h1{ 
    color:black;
    font-size:50px;
    margin: 10px;
    padding: 10px;
    text-align:left;
   }

nav a {
    text-decoration-line: none;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    transition-property: background-color;
    transition-duration: 100ms;
    float: right;
    overflow: hidden;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
    transition-property: color;
    transition-duration: 100ms;
}
nav a:hover {
    background-color: #edfffb;
}
/*bio*/
main{
    height: auto;
}
p{
    margin: 10px;
    padding: 10px;
}
#hp  {
   float: right;    
   margin: 0 0 0 15px;
}
hr{
    width: 65%;
}
h2{
    margin: 10px;
    padding: 10px;
}
/*skills*/
#project-list{
    list-style: circle;
}
#skill-set{
    list-style: square;
}
/*contact*/
#contact-me{
    padding: 2px;
    margin: 10px;
}

/*screen size*/
@media screen and (max-width: 80%) {
  .navbar a {
    float: none;
    width: 100%;
  }

}
@media screen and (min-width: 20%) {
  .navbar a {
    float: none;
  }

}